@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxanium:wght@200..800&display=swap');

html, body {
  font-family: 'Nunito';
  padding: 1rem;
}

@theme {
  --font-mono: 'Oxanium';
  --font-sans: 'Nunito';
  --color-blue: '#3B82F6';
  --color-teal: "#00FFAB";
}

.slick-list{padding:0 20% 0 0 !important;}